* {
  user-select: none;
  cursor: default;
}

h1 {
  font-size: 7vh;
}

body {
  display: flex;
  flex-flow: column;
  align-items: center;
}


.selected {
  background-color: black;
}

#title {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 45px;
  width: 40vw;
  height: 10vh;
  margin: 0px;
  margin-bottom: 35px;
  background-color: whitesmoke;
  align-items: center;
}

.cima {
  margin: 0px;
  width: 10%;
  display: flex;
  flex-flow: column wrap;
}

#button-random-color {
  align-self: center;
}

#color-palette {
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}

.color {
  border: 1px solid black;
  margin: 4px;
  width: 50px;
  height: 50px;
}

#pixel-board {
  border: 1px solid black;
  width: 40vw;
  height: 40vw;
  background-color: whitesmoke;
  display: flex;
  flex-flow: wrap;
}

.pixel {
  box-sizing: border-box;
}

.main {
  margin: 0px;
  width: 100vw;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

.lado3 {
  width: 10%;
  display: flex;
  flex-flow: column wrap;
  margin: 0px;
  background-color: none;
  align-items: center;
}
