* {
  user-select: none;
  cursor: default;
}

h1 {
  font-size: 7vh;
  text-align: center;
}

.selected {
  background-color: black;
}

#title {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 45px;
  width: 35rem;
  height: 7rem;
  margin: auto;
  margin-bottom: 35px;
  background-color: whitesmoke;
  align-items: center;
}

.cima {
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
}

#color-palette {
  width: 15em;
  height: 15em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.color {
  border: 1px solid black;
  display: inline-block;
  text-align: center;
  width: 15%;
  height: 15%;
  margin: 4px;
}

#pixel-board {
  border: 1px solid black;
  width: 60vw;
  height: 60vw;
  background-color: whitesmoke;
  display: flex;
  flex-flow: wrap;
}

.pixel {
  box-sizing: border-box;
}

.main {
  margin: auto;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  flex-grow: 1;
}

#button-random-color {
  text-align: center;
}

.lado3 {
  flex-grow: 1;
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  background-color: none;
  align-items: center;
}

.lado3 div {
  display: flex;
  flex-flow: column;
}
